# Functions to show to the user
export(eigen_trans)
export(vc_estimation)
export(semi_gwas)
export(gwas_all)

# External packages your code needs
import(doParallel)
import(foreach)
import(RSpectra)
importFrom(RSpectra, eigs_sym)
importFrom(stats, pchisq)
importFrom(parallel, makeCluster, stopCluster)
importFrom(doParallel, registerDoParallel)

